<!-- currently selected friend -->
  <section id="selectedPerson" class="clearfix">
    <div class="back"><a href="/">&#8617;</a></div>
    <div class="clearfix" data-partial="friendForGift" data-url="user/friend/{{data.userid}}" data-obj='{"size":"large"}'>
      <div class="loading"></div>
    </div>
  </section>


<!-- special campaigns if any -->
<div data-partial="campaignsForUser" data-url="user/campaigns/{{data.userid}}" data-obj='{"limit":12}' data-userid="{{data.userid}}">
  <div class="loading"></div>
</div>

<!-- main gifts -->
<section id="gifts">
  <div class="sectionHeader">Available Gifts</div>
  <div class="sectionBody" data-partial="gifts" data-url="gift/forUser/{{data.userid}}" data-obj='{"limit":12}' data-userid="{{data.userid}}">
    <div class="loading"></div>
  </div>
</section>