<section id="chooseGroup">
  <div id="chooser" class="sectionBody clearfix">
    <div class="text">Search for friends below to invite them to pitch in with you.</div>
    <input class="mb10" id="friendSearch" type="text" name="friendSearch" placeholder="search friends and groups"/>
    <div class="text contributeText">Limit contribution to this gift to just the selected people?</div>
    <div class="slider">
      <label id="sliderLabel">
          <input id="private" type="checkbox" />
          <span id="slider">
              <span id="sliderOn">YES</span>
              <span id="sliderOff">NO</span>
              <span id="sliderBlock"></span>
          </span>
      </label>
    </div>
    <div class="mb10">
      <span class="button"><a class="done">done</a></span>
    </div>
  </div>
  <div id="searchLists">
    <div data-partial="groupList" data-url="user/groups">
      <div class="loading"></div>
    </div>
    <div class="sectionHeader small">
      Choose a Friend
    </div>
    <div data-partial="friendsList" data-url="user/friends" data-obj="{all:true}">
      <div class="loading"></div>
    </div>
  </div>
</div>
