  <section>
    <div class="sectionHeader">Nice Thinking! </div>
    <div class="sectionBody">
      {{#if data.campaignId }}
          <div class="campaignGiftDetails" id="campaignGiftDetails" data-campaignId="{{data.campaignId}}" data-partial="campaignGiftDetails" data-url="campaign/one/{{data.campaignId}}" >
            <div class="loading"></div>
          </div>
      {{/if}}
      <div class="selections clearfix">
        <div class="selectedFriend" data-partial="selectedFriend" data-url="user/friend/{{data.userid}}" >
          <div class="loading"></div>
        </div>
        <div class="plus">+</div>
        <div class="selectedGift" data-partial="selectedGift" data-url="gift/one/{{data.giftid}}">
          <div class="loading"></div>
        </div>
      </div>
    </div>
    <div class="sectionBody noPad" data-partial="customizeGift" data-url="gift/one/{{data.giftid}}/{{data.userid}}"></div>
    <div class="center">
      <span class="button">
        <a class="giftIt" data-giftid="{{data.giftid}}" data-userid="{{data.userid}}">Gift it !</a>
      </span>
    </div>
  </section>