<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/css/main.css"/>
    
        <!-- mobile style sheets -->
		<link rel="stylesheet" media="all" href="/css/mobile/base.css"/>
    
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="/js/external/underscore.js"></script>
	</head>
	<body lang="en">
    <article class="sections" id="content">
      <section class="logo"></section>
      <section class="message">
        <p>Sorry Something went wrong :(</p>
      </section>
    </article>
	</body>
</html>
