a {
  text-decoration: underline;
  color: #740e2d;
}
a:hover {
  color: #000;
}

h1 {
  font: 40px/48px  Arial, sans-serif;
  letter-spacing: 0;
}

body {
  background-color: #eee; /* #b8dae3; */
  margin:auto;
  width:600px;
  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
}

#wrapper {
  width:100%;
  background:#fff none;
  display:inline-block;
  overflow:hidden;
  margin:15px;
  box-shadow:0 -0 0px 7px rgba(0,0,0,.2);
  border-radius:5px;
  min-height:500px;
  padding:25px 15px 5px 15px;
}

/* utility classes, use sparingly and consider rolling into instance specific selector rules instead of using these */
.center { text-align: center !important; }
.last { margin-right: 0 !important; }
.bottomMost { margin-bottom: 0 !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }

/* Buttons */

.inset {
  margin: 0 auto;
  padding: 5px;
  height: 40px;
  width: 200px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; 
  box-shadow: inset 0px 1px 2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: inset 0px 1px 2px rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: inset 0px 1px 2px rgba(50, 50, 50, 0.5);
}

.button {
  cursor:pointer;
  display: inline-block;
  width: 200px;
  height: 37px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #3b5998;
  background: -moz-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5998), color-stop(50%,#3b5998), color-stop(50%,#325190), color-stop(100%,#325190));
  background: -webkit-linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);
  background: -o-linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);
   background: -ms-linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#325190',GradientType=0 );
  background: linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);
  box-shadow: 0px 3px 0px #213b6d;
  -moz-box-shadow: 0px 3px 0px #213b6d;
  -webkit-box-shadow: 0px 3px 0px #213b6d; 
}
.button a {
  color: #fff;
  text-align:center;
  height: 40px;
  display: block;
  padding: 6px 0px;
  text-decoration: none;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}

.button.disabled {
  background: #bbb;
  color: #aaa;
  cursor: default;
  box-shadow: 0px 3px 0px #888;
  -moz-box-shadow: 0px 3px 0px #888;
  -webkit-box-shadow: 0px 3px 0px #888; 
}
.button.disabled a {
  cursor: default;
}

.badge {
  text-decoration:none;
  color: #fff;
  position: absolute;
  background: #a00;
  height:10px;
  width: 10px;
  text-align: center;
  line-height: 9px;
  padding: 4px;
  border-radius: 10px;
  z-index: 1000;
  top: 5px;
  right: 45px;
  opacity: .7;
  font-weight: normal;
  font-size: .9em;
}

.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
