<section id="upcoming">
  <div class="sectionHeader">Upcoming Birthdays</div>
  <div class="sectionBody noPad" data-partial="upcoming" data-url="user/friends/birthdays/30" data-obj='{"limit":7}'> <!-- last number indicates how many days to check -->
    <div class="loading"></div>
  </div>
</section>
<section id="justBecause">
  <div class="sectionHeader">Just Because</div>
  <div class="sectionBody tight" data-partial="justBecause" data-url="user/friends/withOffersRandom" data-obj='{"limit":3}'>
    <div class="loading"></div>
  </div>
</section>
<section id="specials">
  <div class="sectionHeader">Happening Now!</div>
  <div class="sectionBody" data-partial="campaigns" data-url="user/myFriendsCampaigns" data-obj='{"limit":3}'>
    <div class="loading"></div>
  </div>
</section>
