/* all pages */
body {
  width:320px;
  position: relative;
  padding: 0;
  margin: 0;
}


::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

header {
  height: 45px;
  /*
  height: 51px;
  background: url(/img/graziRibbon.png) no-repeat;
  */
}

/* The scrollable vertical body section below the header - defaulted for iPhone portrait.
  * Responsive design sections at the bottom can change this for other dimensions */
#bodyScroll {
 /* height: 435px; /* 480 - 45(header height) */
  /*overflow-y:auto;*/
  margin-top: 45px;
}

header {
  position: fixed;
  top: 0px;
  left: 0;
  height: 45px;
  width: 320px;
  z-index: 10;
  background: #eee;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.4);
}

.homeLink {
  display: inline-block;
  width: 80px;
  height: 45px;
  text-indent: -9999px;
  background: url(/img/graziLarge.png) 0 6px no-repeat;
  background-size: 98%;
  margin-left: 10px;
}

.headerLink {
  float: right;
  line-height: 45px;
  padding: 0 12px;
  font-size: .85em;
  font-weight: bold;
}
.headerBadge {
  float: right;
  line-height: 45px;
  padding: 0 0px;
  font-size: .85em;
  font-weight: bold;
}

.settingsLink{
  float: right;
  background: url(/img/settings.png) 10px 10px no-repeat;
  background-size: 55%;
  width: 44px;
  height: 45px;
  text-indent: -9999px;
  opacity: .3;
}
/* login page */

.logo {
  display:block;
  margin: 20px auto;
  width:214px;
  height:90px;
  background:url(/img/graziLarge.png);
}

.message {
  text-align: center;
  margin: 20px;
}
.quote:before,
.quote:after {
  content: '“';
  font-size: 2em;
  line-height: .01em;
  display: inline-block;
  color: #666;
  padding-right: 2px;
}
.quote:after {
  content: '”';
  padding: 0 0 0 2px;
}

/* home page (give gifts) */
#main section {
}
.sections .sectionHeader {
  height: 50px;
  line-height: 50px;
  background: #ccc;
  font-weight: bold;
  padding:0px 10px;
}
.sectionHeader .info {
  float: right;
  font-size: 13px;
  font-weight: normal;
  line-height: 50px;
  padding: 0;
}
.sections .sectionBody {
  background: #fff;
  padding: 20px 0 20px 20px;
}
.sections .sectionBody.tight {
  padding: 10px 0 0 10px;
}
.sections .sectionBody.noPad {
  padding: 0;
}
.sections .sectionBody .loading {
  background:url(/img/spinner.gif) 145px 25px no-repeat;
  height: 80px;
  width:100%;
}

.horizScroll {
	width: 8000px;
	margin: 20px 0 0 20px;
}

.back {
  display: inline-block;
  float: left;
  font-size: 25px;
  line-height: 30px;
}
.back a {
  text-decoration: none;
  display: inline-block;
  height: 32px;
  padding: 8px 10px 0;
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1      2        3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
	}
}


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1      2        3        4        5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body,
    header
    {
		width: 480px;
	}
  #bodyScroll {
   /* height: 285px; /* 320 - 45(header height) */
  }
}
