<div class="sectionHeader">
  Choose a Friend
  <span class="info">{{data.numberOfFriends}} elligible</span>
</div>
<div class="sectionBody noPad">
    <div id="allFriends">
      
      {{#each data.friends}}
        <div class="friend clearfix" data-userid="{{_id}}">
          <img src="{{picture}}"/>
          <div class="info">{{name}}</div>
          
          {{! when a specific campaign is viewed, the # of existing contributors towards that gift for this user }}
          {{#if numberOfContributors}}
            <div class="contributorBadge">{{numberOfContributors}}</div>
          {{/if}}
          
          {{! when all friends are viewed, the # of contributors across ALL gifts for this user }}
          {{#if gifts.length}}
            <div class="contributorBadge">{{gifts.length}}</div>
          {{/if}}          
        </div>
      {{/each}}
    
    </div>
</div>