{{#if data.hasCampaigns}}
  {{#each data.campaigns}}
    <div class="campaign clearfix" data-campaignId="{{_id}}" data-giftId="{{firstGift._id}}">
      <div class="image">
        <img src="{{firstGift.giftImageUrl}}"/>
      </div>
      <div class="details">
        <div class="name">{{campaignHeadline}}</div>
        <div class="description">{{campaignSubHeadline}}</div>
        <div class="info">{{decorateDescription firstGift false}}</div>
        <div class="limited">available to <span class="numberOfFriends">{{numberOfFriends}}</span> friends</div>
      </div>
    </div>
  {{/each}}
{{/if}}