{{#if data.hasCampaigns }}
  <section id="specialsForPerson">
    <div class="sectionHeader">Happening Now!</div>
    <div class="sectionBody">
      <div class="campaigns clearfix">

        {{#each data.campaigns}}
          <div class="campaign clearfix" data-campaignId="{{_id}}" data-giftId="{{firstGift._id}}">
            <div class="image">
              <img src="{{firstGift.giftImageUrl}}"/>
              {{#if numberOfContributors}}
                <div class="contributorBadge">
                  {{numberOfContributors}}
                </div>
              {{/if}}
            </div>
            <div class="details">
              <div class="name">{{campaignHeadline}}</div>
              <div class="description">{{campaignSubHeadline}}</div>
              <div class="info">{{decorateDescription firstGift false}}</div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </section>
{{/if}}