
<div id="customizeGift" {{#if data.givenId}}data-givenid="{{data.givenId}}"{{/if}}>
{{#if data.groupGift}}
  <div id="contributorsOverlay" style="display:none;">
    {{#each data.gifters}}
      <div class="contributor">
        <img src="{{user.picture}}" alt="{{user.name}}"/>
        {{user.name}}
      </div>
    {{/each}}
  </div>
{{/if}}

    <div class="subHeader">
      
      {{! if there are existing contributors on the card }}
      {{#if data.groupGift}}

          1.  Add value
          <span class="otherContributors">
            <div class="contributorBadge">{{data.gifters.length}}</div>
            <a>other {{pluralize data.gifters.length "contributor" "contributors"}}</a>
          </span>
    
      {{else}}
    
        1.  Add some extra &#9829;
    
      {{/if}}

    </div>
    <div class="subSection">
    
    {{! if there is a preloaded free value on a gift or if this is a group gift, show the current value.}}
    {{#if data.currentValue}}
      <div class="valueRow clearfix">
        <div class="text">
          {{#if data.currentValue}}
            Current Value:
          {{else}}
            {{#if data.freeValue}}
              Free value on card:
            {{/if}}
          {{/if}}
        </div>
        <div class="value">
          $<span id="freeValue">{{data.currentValue}}</span>
        </div>
      </div>
    {{/if}}
    {{! if the current user has contributed, show it as a separate line item.}}
    {{# if data.myContribution}}
      <div class="valueRow clearfix">
        <div class="text">
          Your current contribution:
        </div>
        <div class="value">
          ${{data.myContribution.valueAdded}}
        </div>
      </div>
    {{/if}}

    
    <div class="valueRow clearfix">
      <div class="text clearfix">
        <div class="incrementText">
          Add value:<br/>
          <span id="increments">$<span id="incrementBy">{{data.valueIncrements}}</span> increments</span>
        </div>
        <div class="incrementTools">
          <span id="removeValue" class="button disabled">
            <a>&ndash;</a>
          </span>
          <span id="addValue" class="button">
            <a>+</a>
          </span>
        </div>
      </div>
      <div class="incrementValue value">
          $<span id="giftAddedValue">0</span>
      </div>
    </div>
    
    <div class="valueRow bottomMost clearfix">
      <div class="text">Total gift:</div>
      <div class="value">
        $<span id="totalValue">{{data.currentValue}}</span>
      </div>
    </div>
  </div>
  
  <div class="subHeader">2.  Make it personal</div>
  <div class="subSection">
    <textarea id="giftMessage" placeholder="add your own personal message">{{#if data.myContribution}}{{data.myContribution.giftersMessage}}{{/if}}</textarea><br/>
  </div>
  

  {{#if data.public}}
    <div class="subHeader">3. Get others to pitch in</div>
    <div class="subSection">
      <div class="valueRow sliderRow clearfix">
        <div class="text">
            {{#if data.groupGift}}
              Invite more people?
            {{else}}
              Allow others to contribute?
            {{/if}}
        </div>
        <div class="value slider">
          <label id="sliderLabel">
              <input id="invite" type="checkbox" checked />
              <span id="slider">
                  <span id="sliderOn">YES</span>
                  <span id="sliderOff">NO</span>
                  <span id="sliderBlock"></span>
              </span>
          </label>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if data.myContribution}}
    <div class="subHeader">4.  Change when to send it</div>
    <div class="subSection">
      <input type="datetime" id="giftDeliveryTime" data-giftDeliveryTime="{{data.giftDeliveryTime}}" value="{{ISODate data.giftDeliveryTime}}"/><br/>
    </div>
  {{else}}
    {{#if data.groupGift}}
      <div class="subSection text">
        This gift will be delivered on {{prettyDate data.giftDeliveryTime}}.
      </div>
    {{else}}
      <div class="subHeader">4.  Choose when to send it</div>
      <div class="subSection">
        <input type="datetime" id="giftDeliveryTime" data-giftDeliveryTime="{{currentDate}}"/><br/>
      </div>
    {{/if}}
  {{/if}}
</div>