<div class="clearfix">
  <div class="subHeader">treat someone special!<a class="reloadJustBecause">shuffle</a></div>
  <div class="clearfix">
    {{#each data}}
      <div class="user" data-userid="{{_id}}">
        <img src="{{picture}}?type=normal"/>
        <div class="info">{{name}}</div>
        {{#if gifts.length}}
          <div class="contributorBadge">{{gifts.length}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div class="mb20"><a class="someoneSpecific">+ find someone specific</a></div>
</div>

