<div class="userGifts clearfix">
{{#if data.hasGifts }}

  {{#each data.gifts}}
    <div class="giftCard clearfix">

      {{!  Gift details }}
      <div class="info clearfix" data-id="{{_id}}">
        <img src="{{gift.giftImageUrl}}"/>
        <div class="details">
          <div class="title">
            {{#if campaign}}
              {{campaign.campaignHeadline}} - {{campaign.campaignSubHeadline}}
            {{else}}
              {{gift.client}} - {{gift.clientTagLine}}
            {{/if}}
          </div>
          <div class="description">{{decorateDescription gift totalValue}}</div>
          <div class="redeem button"><a>REDEEM</a></div>
        </div>
      </div>

      {{!  Who the gift is from and their messages  }}
      <div class="from clearfix">
        <div class="label">From:</div>
          <div class="whom">

          {{#each gifters}}
            <div class="gifter clearfix">
              <img src="{{gifter.picture}}" alt="{{gifter.name}}" />
              <div class="info">
                <div class="name">{{gifter.name}}</div>
                {{#if giftersMessage}}
                  <div class="message quote">{{giftersMessage}}</div>
                {{/if}}
              </div>              
            </div>
          {{/each}}
          
        </div>  {{! END whom}}
      </div>  {{! END from }}
                
    </div>
  {{/each}}
  
</div>

{{!  EMPTY state, current user has no gifts}}
{{else}}
  <div class="center" style="margin:20px 20px 0 0;">
    <div class="mb10">Awwww, no gifts for you right now</div>
    <div><big style="font-size:2.5em;color:#00a;">&#9731;</big></div>
    <p><em>Be more gifted!</em></p>
    <p>Maybe if you <a href="/">give some gifts with Grazi!</a> you'll get more too!</p>
  </div>
{{/if}}
</div>