<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<title>[[APPNAME]]</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/css/main.css"/>
    <!-- component css -->
    {{#each componentcss}}
    <link rel="stylesheet" media="all" href="/css/components/{{this}}"/>
    {{/each}}
    
    <script src="/js/external/underscore.js"></script>
    <script data-main="/js/client" src="/js/external/require-jquery.js"></script>
	</head>
	<body lang="en">
    <header>
      <h1>[[APPNAME]]</h1>
    </header>
		<article>
		  <div id="content">
        {{{body}}}
      </div>
		</article>
	</body>
</html>
