a {
  text-decoration: underline;
  color: #740e2d;
}
a:hover {
  color: #000;
}

h1 {
  font: 40px/48px  Arial, sans-serif;
  letter-spacing: 0;
}

body {
  background-color: #eee; /* #b8dae3; */
  margin:auto;
  width:600px;
  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
